.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 5px;
  color: white;
}

.App-title {
  margin: 5px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fragSelectionList {
	position:fixed;
	z-index: 1;
	background:#ccccff;
        clear: both;
}

.fragSelectionList.hidden {
	display:none;
}

.matchSel {
        margin-left: 80px;
        margin-top: 20px;
        margin-bottom: 10px;
}

.matchSel label {
        margin-left: 15px;
}

.selectionLabel { 
	cursor:pointer;
}

.selectionLabel .expandIndicator {
	font-family:monospace;
	border: 1px;
}

.assembledRow div { 
	float:left;
	margin-right: 30px;
}

.assembledRow {
    position:relative;
}

.selCell {
    background-color: #aaeeff;
}
.playbutton {
    margin-left: 15px;
}

.gridDiv {
    text-align: left;
}

.gridDiv button {
    margin-left: 15px;
    margin-top: 5px;
}

.assembledGrid {
  overflow-x:scroll;
}

.assembledGrid .instName {
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
    border-style: none;
}
.assembledGrid table {
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
}
.assembledGrid td {
    border: 4px solid #ccc;
    padding-left: 5px;
    min-width: 100px;
}

.assembledGrid tr {
    height: 45px;
}

.debugInfo div {
    display: none;
    font-size: x-small;
}
.countPanel {
    float: left;
    margin-right: 25px;
}
td.filtUpdating {
    background-color: #dce0e2;
}

.overlayBtn {
  position: absolute;
  visibility: hidden;
}

td:hover .overlayBtn {
  visibility: visible;
}

.loadWS input {
  width: 350px;
}

.fragItem {
  display: inline-block;
  border: 1px solid;
}
