.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 5px;
  color: white;
}

.App-title {
  margin: 5px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fragSelectionList {
	position:fixed;
	z-index: 1;
	background:#ccccff
}

.fragSelectionList.hidden {
	display:none;
}

.selectionLabel { 
	cursor:pointer;
}

.selectionLabel .expandIndicator {
	font-family:monospace;
	border: 1px;
}

.assembledRow div { 
	float:left;
	margin-right: 30px;
}
