.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 5px;
  color: white;
}

.App-title {
  margin: 5px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fragSelectionList {
	position:fixed;
	z-index: 1;
	background:#ccccff;
        clear: both;
}

.fragSelectionList.hidden {
	display:none;
}

.matchSel {
	margin-bottom: 10px;
	position: sticky;
	background-color: white;
	z-index: 10;
	padding: 10px 42px;
	top: 0;
}

.matchSel label {
        margin-left: 15px;
}

.selectionLabel { 
	cursor:pointer;
}

.selectionLabel .expandIndicator {
	font-family:monospace;
	border: 1px;
}

.assembledRow div { 
	float:left;
	margin-right: 30px;
}

.assembledRow {
    position:relative;
}

.selCell {
    background-color: #aaeeff;
}
.playbutton {
    margin-right: 10px;
}

.gridDiv {
    text-align: left;
}

.gridDiv button {
    margin-left: 15px;
    margin-top: 5px;
}

.assembledGrid {
  overflow-x:scroll;
	padding-bottom: 10px;
}

.assembledGrid .instName {
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
    border-style: none;
}
.assembledGrid table {
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 15px;
}
.assembledGrid td {
    border: 4px solid #ccc;
    padding-left: 5px;
    min-width: 100px;
}

.assembledGrid tr {
    height: 75px;
}

.debugInfo div {
    display: none;
    font-size: x-small;
}
.countPanel {
    float: left;
    margin-right: 25px;
}
td.filtUpdating {
    background-color: #dce0e2;
}

.overlayBtn {
  position: absolute;
  visibility: hidden;
}

td:hover .overlayBtn {
  visibility: visible;
}

.loadWS input {
  width: 350px;
}

.fragRow {
  border-radius: 10px;
	overflow-x: auto;
}
.fraglist {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.fragItem {
  display: inline-block;
  position: relative;
  border: 2px solid;
  margin: 2px 5px 5px 5px;
  padding: 7px;
  border-radius: 7px;
  -flex-grow: 1;  /* Force items to fill space? */
}

.fragItem:hover {
  border: 2px solid #5394a1d9;
  background-color: #cceeff;
  cursor:pointer
}
.fragItem:hover:before {
	content: "➕";
	padding: 2px 10px;
	float: right;
	position: absolute;
	top: 29%;
	left: 50%;
	margin-left: -5px;
	font-size: 30px;
	font-weight: bold;
	border-radius: 100px;
	background-color: #5394a1d9;
	color: white;
	pointer-events: none;
}

button.instAdd {
  margin-left: 50px;
}
#playfrags {
	margin-left: 147px;
}
td.instName button {
  visibility: hidden;
}

td.instName:hover button {
  visibility: visible;
}

.ws-details {
  margin-top: 10px;
  font-size: small;
}

.reindex_stat {
  margin-left: 50px;
}
.fraguri {
    display: none;
    background-color: #eee;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
}
.fragItem:hover .fraguri {
  display: block;
  position: absolute;
  bottom: -40px;
  left: 100px;
  z-index: 5;
}
