body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loadWS {
  margin-top: 10px;
}

.fragRow {
  x-overflow-x:scroll;
  max-height: calc(97.5vh - 385px);
  x-width: 600px;
  text-align: left;
  border: 1px solid #b8b8b8;
  margin: 10px;
  x-margin-left: 150px;
 }

.listcol { overflow-y:scroll;
  height: calc(97.5vh - 399.9px);
  x-height: 400px;
  x-max-width: 800px;
  display: inline-block;
  border: 1px solid #d8d8d8;
  margin: 10px;
  margin-left: 25px;
}

.selected { background: #88f;}

#seltest .ui-selected { background: #ccc; }
#seltest .ui-selecting { background: #FECA40; }
#seltest { list-style-type: none; margin: 0; padding: 0; width: 18em; }
#seltest li { background:#ffd; margin: 5px; padding: 0.4em; font-size: 1.4em; x-height: 18px; }
